body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user{
  border: 1px solid black;
  padding: 8px;
  margin: 6px;
  display: flex;
  justify-content: space-between;
  width: 400px;
}
.table{
  border: 1px solid black;
}
